      <li> <!-- Lapels -->
        <ul class="zu-custom-options" form-name="customizations[Jacket][Buttons]">
          <li class="zu-custom-option">
            <img src="<%= asset_path "buttons-one.png" %>" />
            <div class="zu-custom-option-label">
              One Button
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "buttons-two.png" %>" />
            <div class="zu-custom-option-label">
              Two Buttons
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "buttons-three.png" %>" />
            <div class="zu-custom-option-label">
              Three Buttons
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
        </ul>
        <!-- #zu-customize-options -->

        <h1>Select your buttons.</h1>
        <p>Two and three suit buttons are standard and up to personal preference.  Three suit buttons typically work better for taller women.  One suit button is a very fashion-forward option.</p>

        <div id="zu-change-step">
          <a class="zu-change-step-backward" href="#1"><i class="ss-icon" style="font-size:14px;">navigateleft</i>&nbsp;&nbsp;Go back to: Vents</a>
          <a class="zu-change-step-forward" href="#3">Go on to next step: Lining&nbsp;&nbsp;<i class="ss-icon" style="font-size:14px;">navigateright</i></a>
        </div>
        <!-- #zu-change-step -->
      </li>

