      <li> <!-- Lapels -->
        <ul class="zu-custom-options" form-name="customizations[Jacket][Lining]">
          <li class="zu-custom-option">
            <img src="<%= asset_path "lining_beige.jpg" %>" />
            <div class="zu-custom-option-label">
              Beige
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "swatch_blue.jpg" %>" />
            <div class="zu-custom-option-label">
              Blue
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "swatch_purple.jpg" %>" />
            <div class="zu-custom-option-label">
              Purple
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
        </ul>
        <!-- #zu-customize-options -->

        <h1>Select your lining.</h1>
        <p>The lining of your jacket is the easiest and best way to customize your look.</p>

        <div id="zu-change-step">
          <a class="zu-change-step-backward" href="#2">Go back to: Buttons</a>
          <a class="zu-change-step-forward" href="#4">Go on to next step: Initials</a>
        </div>
        <!-- #zu-change-step -->
      </li>

