<li>
  
  <h3>Jacket Lining</h3>
  <ul class="zu-form-selector" form-name="customizations[Jacket][Lining]">
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Nice fabric
    </li>
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Ugly fabric
    </li>
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Yellow Fabric
    </li>
  </ul>

  <div class="description">
    <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit.</p>
  </div>

</li>