<li>
  
  <h3>Jacket Monogram</h3>
  <div>

    Text<br />
    <label for="customizations[Jacket][Monogram1][Text1]">Line 1</label><input type="text" name="customizations[Jacket][Monogram][Text1]" maxlength="20" placeholder="(max 20 characters)" /><br/>
    <label for="customizations[Jacket][Monogram2][Text2]">Line 2</label><input type="text" name="customizations[Jacket][Monogram][Text2]" maxlength="20" placeholder="(max 20 characters)" />

    <br />
    <br />

    Font
    <ul class="zu-form-selector" form-name="customizations[Jacket][Monogram][Font]">
      <li>
        <%= image_tag "indochino_test.png" %><br />
        Papyrus
      </li>
      <li>
        <%= image_tag "indochino_test.png" %><br />
        Comic Sans
      </li>
    </ul>

    <br />
    <br />    

    Color
    <ul class="zu-form-selector" form-name="customizations[Jacket][Monogram][Color]">
      <li>
        <div style="height: 100px; width: 100px; background-color: #fff; display: block;"></div><br />
        White
      </li>
      <li>
        <div style="height: 100px; width: 100px; background-color: #000; display: block;"></div><br />
        Black
      </li>
    </ul>

    <div class="description">
      <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit.</p>
    </div>

    
  </div>

</li>