      <li> <!-- Lapels -->

        <div class="zu-monogram-form">
          <label for="customizations[Jacket][Monogram][Text1]">Line 1:</label>
          <input type="text" name="customizations[Jacket][Monogram][Monogram1]" maxlength="20" placeholder="(max 20 characters)" />
        </div>
        <!-- .zu-monogram-form -->
        <div class="zu-monogram-form">
          <label for="customizations[Jacket][Monogram][Text2]">Line 2:</label>
          <input type="text" name="customizations[Jacket][Monogram][Monogram2]" maxlength="20" placeholder="(max 20 characters)" />
        </div>
        <!-- .zu-monogram-form -->


        <h1>Monogram your jacket.</h1>
        <p>Add a personal touch with a monogrammed interior.  We're able to include up to two lines of text for a customized product.</p>

        <div id="zu-change-step">
          <a class="zu-change-step-backward" href="#3">Go back to: Lining</a>
          <a class="zu-change-step-forward" href="#5">Go on to next step: Order</a>
        </div>
        <!-- #zu-change-step -->
      </li>
