      <li> <!-- Lapels -->

        <div class="zu-monogram-form">
          <label for="customizations[Jacket][Monogram][Text1]">Line 1:</label>
          <input type="text" name="customizations[Jacket][Monogram][Monogram1]" maxlength="20" placeholder="(max 20 characters)" />
        </div>
        <!-- .zu-monogram-form -->
        <div class="zu-monogram-form">
          <label for="customizations[Jacket][Monogram][Text2]">Line 2:</label>
          <input type="text" name="customizations[Jacket][Monogram][Monogram2]" maxlength="20" placeholder="(max 20 characters)" />
        </div>
        <!-- .zu-monogram-form -->


        <h1>Select your lapels.</h1>
        <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit. We recommend notch or peak lapels for the modern woman.</p>

        <div id="zu-change-step">
          <a class="zu-change-step-forward" href="#5">Go on to next step: Order</a>
        </div>
        <!-- #zu-change-step -->
      </li>
