<li>
  
  <h3>Jacket Lapels</h3>
  <ul class="z-form-selector">
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Notch
    </li>
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Notch Slim
    </li>
    <li>
      <%= image_tag "indochino_test.png" %><br />
      Peak
    </li>
  </ul>

  <div class="description">
    <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit.</p>
  </div>

  <input type="hidden" name="customizations[Jacket][Lapels]" value="" />

</li>