      <li> <!-- Lapels -->
        <ul class="zu-custom-options" form-name="customizations[Jacket][Vents]">
          <li class="zu-custom-option">
            <img src="<%= asset_path "lapel-notch-slim.png" %>" />
            <div class="zu-custom-option-label">
              Notch Slim
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "lapel-notch-wide.png" %>" />
            <div class="zu-custom-option-label">
              Notch Wide
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "lapel-peak-slim.png" %>" />
            <div class="zu-custom-option-label">
              Peak Slim
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
          <li class="zu-custom-option">
            <img src="<%= asset_path "lapel-peak-wide.png" %>" />
            <div class="zu-custom-option-label">
              Peak Wide
            </div>
            <!-- .zu-custom-option-label -->
          </li>
          <!-- #zu-custom-options-selected -->
        </ul>
        <!-- #zu-customize-options -->

        <h1>Select your lapels.</h1>
        <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit. We recommend notch or peak lapels for the modern woman.</p>

        <div id="zu-change-step">
          <a class="zu-change-step-backward" href="#0">Go back to: Lapels</a>
          <a class="zu-change-step-forward" href="#2">Go on to next step: Buttons</a>
        </div>
        <!-- #zu-change-step -->
      </li>

