
<div id="zu-sizer" style="display: none;">

  <h1>Personal Online Tailor &#8482;</h1>

  <ul id="zu-sizer-menu">
    <li id="zu-sizer-menu-active">
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Height</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Shoulder Span</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Left Shoulder</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Right Shoulder</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Bicep</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Right Arm</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Left Arm</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Wrists</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Torso</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Chest</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Nip to Nip</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Stomach</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Waist</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Hips</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Hip to Knee</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Right Leg</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Left Leg</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Crotch</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Thighs</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
  </ul>
  <!-- #zu-sizer-menu -->

  <div id="zu-sizer-form">
    <label for="zu-sizer-form-value">My Neck Measurement:</label>
    <input id="zu-sizer-form-value" type="text" />
    <div id="zu-sizer-form-radio-buttons">
      <span>
        <input type="radio" />
        <label>Inches</label>
      </span>
      <span>
        <input type="radio" />
        <label>Centimeters</label>
      </span>
    </div>
    <!-- #zu-sizer-form-radio-buttons -->
  </div>
  <!-- #zu-sizer-form -->

  <div id="zu-sizer-save">
    <a href="#">Save My Progress!</a>
  </div>
  <!-- #zu-sizer-save -->

  <div id="zu-sizer-video">
    <video style="background: #333333;"></video>
  </div>
  <!-- #zu-sizer-video -->

  <div id="zu-sizer-instructions">
    <h3>How to Measure Your Neck</h3>
    <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit. We recommend notch or peak lapels for the modern woman.</p>
    <a id="zu-sizer-next" href="#">We need your shoulder measurement.</a>
  </div>
  <!-- #zu-sizer-instructions -->

</div>
<!-- #zu-sizer -->


