<script>

  $(document).ready(function(){

    $("#z-slide-wizard li").each(function(){
      var self = $(this);
      $(".z-form-selector li", self).click(function(){
        self.find(".selected").removeClass("selected");
        $(this).addClass("selected");
        self.find("input[type=hidden]").val( $(this).text() );
      }).first().click();
    });


    $("#z-customizer").submit(function(e){
      var valid = true;

      // form validations

      if( !valid ){
        e.preventDefault();
        return false;
      }
    });

  });

</script>


<h2>Customize</h2>

<section id="z-style-picker">
  <div class="z-container">

    <form id="z-customizer">
      <ul id="z-slide-wizard" class="z-slide-state">

        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>

        <li>
          <input type="submit" value="Add To Your Cart" />
        </li>
      </ul>
    </form>

  </div>
</section>