 <section id="zu-shop">

    <div class="zu-container" style="background-color: #4c4; color: #fff; padding:10px;">
      <i class="ss-icon ss-icon" style="font-size: 50px;">check</i> <div style="display: inline-block;"><strong>The Megan</strong><br/>was added to your shopping bag.</div>
    </div>

    <div class="zu-container">
      <h3>You Might Also Like</h3>
      <!-- .zu-paragraph-subheader -->
      <ul id="zu-shop-tiles">
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Megan <span>SALE!</span>
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price zu-shop-tile-price-sale">
                <span>$499.90</span>
                $499.90
              </div>
              <!-- .zu-shop-tile-price .zu-shop-tile-price-sale -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Kylie
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Judy
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
      </ul>
      <!-- #zu-shop-tiles -->
    </div>
    <!-- .zu-container -->
  </section>