@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Color Theme
      - Media Size Breakpoints
      - Susy Grid Settings
      - Font Stacks
      - Z Indices

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Paragraph Variations
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$font-header-color: #333333;
$font-body-color: #404040;

$red-1: #942b30;
$red-2: #e03c46;
$red-3: #f58180;
$red-4: #ffa2a1;
$teal-1: #194e5a;
$teal-2: #5f9ba8;
$teal-3: #8fd1e0;

$light-grey: #ebebeb;

$white: #ffffff;


/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns: 12;
$column-width: 56px;
$gutter-width: 48px;
$grid-padding: 0;


/* Font Stacks */
/************************************************/

$serif-font: 'Abril Fatface', 'Georgia', 'Times New Roman', serif;
$sans-serif-font: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";


/* Z Indices */
/************************************************/



/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {
  height: 100%;
}


/* Body */
/************************************************/

body {
  height: 100%;
  font-size: 16px;
  font-family: $sans-serif-font;
  line-height: 30px;
  color: $font-body-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {}

h1 {
  font-family: $serif-font;
  font-size: 60px;
  line-height: 80px;
  color: $font-header-color;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  color: $font-header-color;
}
h3 {
  font-family: $serif-font;
  font-size: 48px;
  line-height: 60px;
  color: $font-header-color;
}
h4 {}
h5 {}
h6 {}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}

strong { font-weight: 700; }
em { font-style: italic; }

p {}
p.zu-paragraph-subheader {
  font-size: 18px;
  line-height: 30px;
}

label {
  display: inline-block;
}

input,
textarea,
select {
  display: inline-block;
  font-family: $font-header-color;
  font-size: 20px;
  line-height: 30px;
}

input:focus,
textarea:focus,
select:focus { outline: none; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px 14px 10px 14px;
  border: 1px solid $font-header-color;
  color: $font-body-color;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

a {
  color: $font-body-color;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* Buttons */
/************************************************/

.zu-button,
input[type="submit"],
button {
  display: inline-block;
  padding: 9px 20px;
  margin: 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $font-header-color;
  border-left: none;
  color: $white;
  background: $font-body-color;
  font-size: 20px;
  font-weight: 700;
  font-family: $sans-serif-font;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

.zu-button:active,
input[type="submit"]:active,
button:active {
  position: relative;
  top: 2px;
}

.zu-button:hover,
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
  @include opacity(.66);
}

.zu-button:focus,
input[type="submit"]:focus,
button:focus {
  outline: none;
}

/*  This is the code that was fucking things up
.zu-button:before,
input[type="submit"]:before,
button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

*/







#zuit {
  display: block;
  width: 100%;
  overflow: hidden;
  > nav,
  > section {
    display: block;
    float: left;
    width: 100%;
    .zu-container {
      display: block;
      margin: 0 auto;
      @include legacy-pie-clearfix;
      @include screen-format(monitor) {
        width: $monitor-breakpoint;
      }
    }
  }
}

section#zu-top-bar {
  font-size: 12px;
  border-bottom: 1px solid $light-grey;
  #zu-top-bar-blurb {
    display: block;
    float: left;
  }
  #zu-top-bar-session {
    display: block;
    float: right;
  }
}
nav#zu-navigation {
  text-align: center;
  position: relative;
  @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
  a#zu-home-logo {
    margin: 0 auto;
  }
  ul#zu-menu {
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    > li {
      display: inline-block;
      margin: 0 20px 20px 0;
    }
    > li:after {
      padding: 0 0 0 24px;
      content: "•";
    }
    > li:last-child {
      margin: 0;
    }
    > li:last-child:after {
      padding: 0;
      content: none;
    }
  }
}

section#zu-section-header {
  height: 565px;
  text-align: center;
  background: #ffffff image-url("header-background-1.jpg") repeat-x center 0;
  @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.05) inset);
  h1 {
    @include prefix(5);
    @include span-columns(7 omega, 12);
    span {
      color: $red-3;
    }
  }
  h2 {
    @include prefix(5);
    @include span-columns(7 omega, 12);
  }
  p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    @include prefix(5);
    @include span-columns(7 omega, 12);
  }
  a#zu-cta {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    color: $red-2;
    @include prefix(5);
    @include span-columns(7 omega, 12);
  }
  a#zu-cta:hover {
    text-decoration: none;
  }
}

section#zu-shop {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 300;
    @include prefix(3);
    @include suffix(3);
    @include span-columns(6 omega, 12);
  }
  ul#zu-shop-tiles {
    @include span-columns(12 omega, 12);
    li.zu-shop-tile {
      height: 691px;
      @include span-columns(4, 12);
      .zu-shop-tile-header {
        display: block;
        float: left;
        width: 100%;
        .zu-shop-tile-name {
          display: block;
          float: left;
          font-family: $serif-font;
          font-size: 42px;
          line-height: 40px;
          span {
            font-size: 14px;
            color: $red-2;
          }
        }
        .zu-shop-tile-price {
          display: block;
          float: right;
          font-family: $serif-font;
          font-size: 24px;
          line-height: 40px;
          text-align: right;
          position: relative;
          top: 7px;
        }
      }
      .zu-shop-tile-subheader {
        display: block;
        float: left;
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
          position: relative;
          top: -5px;
      }
    }
    li.zu-shop-tile:nth-child(3n) {
      @include span-columns(4 omega, 12);
    }
  }
}




































