@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Color Theme
      - Media Size Breakpoints
      - Susy Grid Settings
      - Font Stacks
      - Z Indices

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Paragraph Variations
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$font-header-color: #333333;
$font-body-color: #404040;

$red-1: #942b30;
$red-2: #e03c46;
$red-3: #f58180;
$red-4: #ffa2a1;
$teal-1: #194e5a;
$teal-2: #5f9ba8;
$teal-3: #8fd1e0;

$light-grey: #ebebeb;
$medium-grey: #808080;

$white: #ffffff;


/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns: 12;
$column-width: 56px;
$gutter-width: 48px;
$grid-padding: 0;


/* Font Stacks */
/************************************************/

$serif-font: 'Abril Fatface', 'Georgia', 'Times New Roman', serif;
$sans-serif-font: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";


/* Z Indices */
/************************************************/



/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {
  height: 100%;
}


/* Body */
/************************************************/

body {
  height: 100%;
  font-size: 16px;
  font-family: $sans-serif-font;
  line-height: 30px;
  color: $font-body-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {}

h1 {
  font-family: $serif-font;
  font-size: 60px;
  line-height: 80px;
  color: $font-header-color;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  color: $font-header-color;
}
h3 {
  font-family: $serif-font;
  font-size: 48px;
  line-height: 60px;
  color: $font-header-color;
}
h4 {
  font-family: $serif-font;
  font-size: 36px;
  line-height: 50px;
  color: $font-header-color;
}
h5 {}
h6 {}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}

strong { font-weight: 700; }
em { font-style: italic; }

p {}
p.zu-paragraph-subheader {
  font-size: 18px;
  line-height: 30px;
}
p.zu-paragraph-subsubheader {
  font-size: 16px;
  line-height: 30px;
}

label {
  display: inline-block;
}

input,
textarea,
select {
  display: inline-block;
  font-family: $font-header-color;
  font-size: 20px;
  line-height: 30px;
}

input:focus,
textarea:focus,
select:focus { outline: none; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px 14px 10px 14px;
  border: 1px solid $font-header-color;
  color: $font-body-color;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

a {
  color: $red-2;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* Buttons */
/************************************************/

.zu-button,
input[type="submit"],
button {
  display: inline-block;
  padding: 9px 20px;
  margin: 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $font-header-color;
  border-left: none;
  color: $white;
  background: $font-body-color;
  font-size: 20px;
  font-weight: 700;
  font-family: $sans-serif-font;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

.zu-button:active,
input[type="submit"]:active,
button:active {
  position: relative;
  top: 2px;
}

.zu-button:hover,
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
  @include opacity(.66);
}

.zu-button:focus,
input[type="submit"]:focus,
button:focus {
  outline: none;
}

/*  This is the code that was fucking things up
.zu-button:before,
input[type="submit"]:before,
button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

*/







#zuit {
  display: block;
  width: 100%;
  overflow: hidden;
  > nav,
  > section {
    display: block;
    float: left;
    width: 100%;
    .zu-container {
      display: block;
      margin: 0 auto;
      @include legacy-pie-clearfix;
      @include screen-format(monitor) {
        width: $monitor-breakpoint;
      }
    }
  }
}

section#zu-top-bar {
  font-size: 12px;
  border-bottom: 1px solid $light-grey;
  margin: 0 0 46px 0;
  #zu-top-bar-blurb {
    display: block;
    float: left;
    a {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
  }
  #zu-top-bar-session {
    display: block;
    float: right;
    a {
      color: $font-body-color;
    }
    a:hover {
      color: $red-2;
    }
  }
}
nav#zu-navigation {
  text-align: center;
  position: relative;
  @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
  a#zu-home-logo {
    display: inline-block;
    margin: 0 auto 10px auto;
  }
  a#zu-home-logo:hover {
    @include opacity(0.66);
  }
  ul#zu-menu {
    display: block;
    width: 100%;
    margin: 0 auto 16px auto;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    > li {
      display: inline-block;
      margin: 0 20px 12px 0;
      a {
        color: $font-body-color;
      }
      a:hover {
        color: $red-2;
      }
    }
    > li:after {
      padding: 0 0 0 24px;
      content: "•";
    }
    > li:last-child {
      margin: 0;
    }
    > li:last-child:after {
      padding: 0;
      content: none;
    }
  }
}

section#zu-section-header {
  height: 565px;
  text-align: center;
  background: #ffffff image-url("header-background-1.jpg") repeat-x center 0;
  @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.05) inset);
  h1 {
    margin: 127px 0 1px 0;
    @include prefix(5);
    @include span-columns(7 omega, 12);
    span {
      color: $red-3;
    }
  }
  h2 {
    margin: 0 0 40px 0;
    @include prefix(5);
    @include span-columns(7 omega, 12);
  }
  p {
    margin: 0 0 48px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    @include prefix(6);
    @include suffix(1);
    @include span-columns(5 omega, 12);
  }
  a#zu-cta {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    color: $red-2;
    @include prefix(5);
    @include span-columns(7 omega, 12);
  }
  a#zu-cta:hover {
    text-decoration: none;
  }
}

section#zu-section-item {
  height: 565px;
  background: #ffffff image-url("item-background-1.jpg") repeat-x center 0;
  @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.05) inset);
  #zu-section-item-details {
    @include suffix(1);
    @include span-columns(6, 12);
    ul#zu-section-item-social {
      display: block;
      float: left;
      width: 100%;
      padding: 38px 0 25px 0;
      > li {
        display: inline;
        margin: 0 10px 0 0;
        a {
          color: $font-body-color;
          @include opacity(0.40);
        }
        a:hover {
          text-decoration: none;
         @include opacity(1);
        }
      }
    }
    #zu-section-item-title {
      display: block;
      float: left;
      width: 100%;
      height: 59px;
      h1 {
        display: block;
        float: left;
        font-size: 48px;
        line-height: 60px;
        font-family: $serif-font;
        span {
          color: $red-3;
        }
        strong {
          font-size: 14px;
          color: $red-2;
        }
      }
      #zu-section-item-price {
        display: block;
        float: right;
        padding: 24px 0 0 0;
        color: $red-2;
        text-align: right;
        font-family: $serif-font;
        font-size: 24px;
        position: relative;
      }
      #zu-section-item-price.zu-section-item-price-sale {
        span {
          margin-top: -21px;
          color: $font-body-color;
          font-size: 14px;
          text-decoration: line-through;
          position: absolute;
          right: 0;
        }
      }
    }
    h2 {
      width: 100%;
      margin: 0 0 28px 0;
      font-size: 24px;
    }
    p {
      margin: 0 0 28px 0;
      font-weight: 300;
      -webkit-font-smoothing: subpixel-antialiased;
    }
    ul#zu-section-item-features-1,
    ul#zu-section-item-features-2 {
      margin: 0 0 39px 0;
      list-style-type: disc;
      @include span-columns(3, 6);
      > li {
        margin: 0 0 0 16px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }
    ul#zu-section-item-features-2 {
      @include span-columns(3 omega, 6);
    }
    a#zu-section-item-customize {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      font-style: italic;
      text-decoration: underline;
    }
    a#zu-section-item-customize:hover {
      text-decoration: none;
    }
  }
  #zu-section-item-images {
    padding: 32px 0 0 0;
    @include span-columns(5 omega, 12);
    ul#zu-section-item-image-thumbnails {
      display: block;
      float: right;
      width: 110px;
      margin: 0 10px 0 0;
      li {
        display: block;
        float: left;
        width: 90px;
        height: 90px;
        padding: 10px;
        margin: 0 0 10px 0;
        background: $white;
        cursor: pointer;
      }
      li:hover {
        img {
          @include opacity(0.66);
        }
      }
    }
    #zu-section-item-image {
      display: block;
      float: right;
      width: 324px;
      height: 479px;
      padding: 10px;
      background: $white;
    }
  }

}

section#zu-shop {
  h3 {
    margin: 92px 0 16px 0;
    text-align: center;
  }
  h4 {
    margin: 51px 0 8px 0;
    text-align: center;
    span {
      color: $teal-3;
    }
  }
  p.zu-paragraph-subheader,
  p.zu-paragraph-subsubheader {
    margin: 0 0 62px 0;
    text-align: center;
    font-weight: 300;
    @include prefix(3);
    @include suffix(3);
    @include span-columns(6 omega, 12);
  }
  p.zu-paragraph-subsubheader {
    margin: 0 0 41px 0;
  }
  ul#zu-shop-tiles {
    @include span-columns(12 omega, 12);
    li.zu-shop-tile {
      height: 691px;
      @include span-columns(4, 12);
      a.zu-shop-tile-link {
        color: $font-body-color;
        > img {
          margin: 0 0 4px 0;
        }
      }
      a.zu-shop-tile-link:hover {
        > img {
          @include opacity(0.66);
        }
      }
      .zu-shop-tile-header {
        display: block;
        float: left;
        width: 100%;
        height: 51px;
        .zu-shop-tile-name {
          display: block;
          float: left;
          font-size: 42px;
          line-height: 40px;
          font-weight: 300;
          span {
            font-size: 14px;
            font-weight: 900;
            color: $red-2;
          }
        }
        .zu-shop-tile-price {
          display: block;
          float: right;
          font-size: 24px;
          line-height: 40px;
          text-align: right;
          font-weight: 300;
          position: relative;
          top: 7px;
        }
        .zu-shop-tile-price.zu-shop-tile-price-sale {
          color: $red-2;
          span {
            width: 100%;
            font-size: 14px;
            color: $font-body-color;
            text-decoration: line-through;
            position: absolute;
            top: 19px;
          }
        }
      }
      .zu-shop-tile-subheader {
        display: block;
        float: left;
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
          position: relative;
          top: -7px;
      }
    }
    li.zu-shop-tile:nth-child(3n) {
      @include span-columns(4 omega, 12);
    }
  }
}





#zu-customize-item {
  width: 932px;
  padding: 30px;
  background: $white;
  text-align: center;
  h1 {
    margin: 0 0 7px 0;
    font-size: 48px;
    font-family: $sans-serif-font;
    font-weight: 300;
  }
  p {
    display: inline-block;
    margin: 0 auto 47px 0;
    width: 576px;
    text-align: left;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  #zu-change-step {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 31px 0;
    a.zu-change-step-backward,
    a.zu-change-step-forward {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      font-style: italic;
      text-decoration: underline;
      color: $red-2;
    }
    a.zu-change-step-backward:hover,
    a.zu-change-step-forward:hover {
      text-decoration: none;
    }
  }
  ul#zu-customize-steps {
    display: block;
    float: left;
    width: 100%;
    padding: 0 30px;
    margin: 22px 0 58px 0;
    background: #ffffff image-url("customize-steps-background.png") no-repeat 0 center;
    @include box-sizing(border-box);
    > li {
      display: block;
      float: left;
      width: 100px;
      height: 75px;
      padding: 25px 0 0 0;
      margin: 0 30px 0 0;
      border: 2px solid $teal-3;
      background: #e3f3f7;
      font-size: 12px;
      line-height: 17px;
      color: $medium-grey;
      @include box-shadow(0 0 0 4px $white inset);
      @include border-radius(52px);
      strong {
        display: block;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
    > li:hover,
    > li#zu-customize-current-step {
      background: $teal-3;
      color: #ffffff;
      cursor: default;
    }
    > li:hover {
      cursor: pointer;
    }
    > li:last-child {
      float: right;
      margin: 0;
    }
  }
  ul#zu-custom-options {
    display: inline-block;
    margin: 0 auto 10px auto;
    > li.zu-custom-option {
      display: block;
      float: left;
      padding: 5px 18px 15px 18px;
      margin: 0 10px;
      border: 2px solid $white;
      cursor: pointer;
      img {
        margin: 0 0 6px 0;
      }
      .zu-custom-option-label {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
      }
    }
    > li:hover,
    > li#zu-custom-current-option {
      border: 2px solid $light-grey;
      @include border-radius(5px);
    }
    > li#zu-custom-current-option {
      border-color: $teal-3;
    }
  }
}



/****************************************************************************************************
  7.  JS Widgets
****************************************************************************************************/

/* Lean Overlay */
/************************************************/

#lean_overlay {
  background: $teal-2 !important;
}























